MyApplication/.idea/gradle.xml
MyApplication/.idea/encodings.xml
MyApplication/.idea/.name
MyApplication/.idea/misc.xml
MyApplication/.idea/compiler.xml
MyApplication/.idea/runConfigurations.xml
MyApplication/app/build.gradle